<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="vievport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/3b2a4d9597.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4">
            <h1 class="fs-4"><span class="bg-white text-dark rounded shadow px-2 me-2">Ḏ</span><span class="text-white">Service Supply</span>
            </h1>
        </div>

        <ul class="list-unstyled px-2">
            <li class=""><a th:href="@{/productDetails}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-wrench"></i>
                PRODUKTY</a></li>

            <li class=""><a th:href="@{/workInProgress}" class="text-decoration-none px-3 py-2 d-block"><i
                    class="fa-solid fa-cart-shopping"></i> KOSZYK ZAMÓWIEŃ</a></li>

            <li class=""><a th:href="@{/workInProgress}" class="text-decoration-none px-3 py-2 d-block"><i class="fa-solid fa-truck"></i>
                ZŁOŻONE ZAMÓWIENIA</a></li>

            <li class=""><a th:href="@{/employees}" class="text-decoration-none px-3 py-2 d-block"><i
                    class="fa-solid fa-people-group"></i> PRACOWNICY</a></li>

            <li class=""><a th:href="@{/storeProducts}" class="text-decoration-none px-3 py-2 d-block"><i
                    class="fa-solid fa-warehouse"></i> AKTUALNY ZAPAS</a></li>
        </ul>
        <hr class="h-color mx-2">
    </div>
    <div class="content">
        <nav class="navbar navbar-dark bg-dark">
            <a class="btn btn-danger ms-auto me-md-2" type="button" th:href="@{/logout}">Wyloguj</a>
        </nav>
        <div class="imgbox">
        <img th:src="@{|/images/decathlon_snowboarder.jpg|}" class="center-fit">
        </div>
    </div>
</div>
</body>
</html>