<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div>
    <nav class="navbar navbar-dark bg-light">
        <a class="btn btn-primary ms-auto me-md-2" type="button" th:href="@{/static}">Strona główna</a>
    </nav>
</div>
<div class="container">
    <h1>Lista produktów</h1>
    <a th:href="@{/productDetails/showNewProductForm}" class="btn btn-primary btn-sm mb-3">Dodaj produkt</a>
    <table class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Dostawca</th>
            <th>Produkt</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productDetailsList}">
            <td th:text="${product.brand()}"></td>
            <td th:text="${product.name().toUpperCase()}"></td>
            <td><a th:href="@{/productDetails/getProductInfo/{id}(id=${product.id()})}" class="btn btn-primary">Info</a>
            </td>
            <td><a th:href="@{/productDetails/showFormForUpdate/{id}(id=${product.id()})}" class="btn btn-primary">Edytuj</a>
            </td>
            <td><a th:href="@{/productDetails/deleteProductDetails/{id}(id=${product.id()})}" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>